body {
  margin:0;
  padding:0px;
  font-family: helvetica;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#menu {
  position: absolute;
  top: 10px;
  left:10px;
  right: auto;
  bottom: auto;
  padding: 15px 25px;
  background: #fff;
  box-shadow: 3px 3px 2px grey;
}

.title {
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ffa600;
}
